<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <form method="POST">
        <h3>Sign Up</h3>
        <div>
            <label for="username">username</label>
            <input type="text" id="username" name="username" />

            <label for="password1">password</label>
            <input type="password1" id="password1" name="password1" />

            <label for="password2">confirm password</label>
            <input type="password2" id="password2" name="password2" />

            <br />
            <button type="submit">Sign Up</button>
        </div>
    </form>
</body>
</html> 